module.exports = {
    port: 3000,
    ADDRESS: '0.0.0.0',
    jwtExpirationInSeconds: 60 * 60 * 60,
    roles: {
        //CONVERTED TO UPPERCASE 
        BUYER: 'BUYER',
        ADMIN: 'ADMIN',
        SELLER: 'SELLER'
    },
    productPriceUnits: {
        INR: 'inr'
    }
}